.allCards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-image: black;
  min-height: calc(100vh - 9rem - 150px );
}
.input {
  width: 100vw;
  text-align: center;
  font-family: 'Manrope', sans-serif;
}